<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'file'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{file.label.plural})}">Files</title>
</head>
<body>

	<div th:fragment="content">

		<div class="container">

			<div class="card mt-3 mb-5">
				<h5 class="card-header">Search</h5>
				<div class="card-body">
					<form th:object="${searchParams}" th:action="@{/file/search}" action="#" method="post">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Tags</label>
								<select th:field="*{tags}" class="form-control select2-multiple" size="4" multiple="multiple">
									<optgroup
										th:each="ty : ${T(karstenroethig.filetags.webapp.dto.enums.TagTypeEnum).values()}"
										th:if="${allTags.hasTagsForType(ty)}"
										th:label="${#messages.msg('tag.type.'+ty.name()+'.label')}" label="[type]">
										<option th:each="tag : ${allTags.getTagsByType(ty)}" th:value="${{tag}}" th:text="${tag.name}">[name]</option>
									</optgroup>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Filename</label>
								<input type="text" th:field="*{filename}" class="form-control">
							</div>
						</div>
						<div class="text-right">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</form>
				</div>
			</div>

			<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

			<table class="table table-hover">
				<tbody>
					<tr th:if="${#lists.isEmpty(page.files)}">
						<td align="center" th:text="#{default.table.empty.text}">Data can not be found.</td>
					</tr>
					<tr th:each="file : ${page.files}">
						<td>
							<div th:if="${file.pathToDir != null}" class="text-muted" th:text="${file.pathToDir}">[pathToDir]</div>
							<div class="lead">
								<strong th:text="${file.filename}">[filename]</strong>
								<span th:if="${file.isNew()}" class="badge badge-pill badge-warning">new</span>
							</div>
							<div>
								<a th:href="@{/file/edit/{id}(id=${file.id})}" class="text-muted">edit</a>
								&nbsp;
								<a class="text-muted" href="#">rename</a>
								&nbsp;
								<a class="text-muted" href="#">move</a>
							</div>
							<div th:if="${!#lists.isEmpty(file.tags)}">
								<span th:each="tag : ${file.tags}" class="badge badge-pill mr-1" th:classappend="${tag.type.styleClass}"th:text="${tag.name}">[tag.name]</span>
							</div>
						</td>
						<td class="text-right">
							<a th:href="${file.fileUrl}" class="btn btn-primary"><i class="fas fa-play"></i></a>
						</td>
					</tr>
				</tbody>
			</table>

			<div th:if="${page.hasEntries()}" class="mb-3">
				<a th:if="${page.hasPreviousPage()}" th:href="@{/file/page/{page}(page=${page.currentPageNumber-1})}" class="btn btn-outline-primary">Previous</a>
				<button th:if="${!page.hasPreviousPage()}" type="button" class="btn btn-outline-primary disabled">Previous</button>

				<a th:if="${page.hasNextPage()}" th:href="@{/file/page/{page}(page=${page.currentPageNumber+1})}" class="btn btn-outline-primary">Next</a>
				<button th:if="${!page.hasNextPage()}" type="button" class="btn btn-outline-primary disabled">Next</button>
			</div>
		</div>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/file-list.js}"></script>
	</th:block>

</body>
</html>