<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="#{dashboard.label}"></title>
</head>
<body th:with="menu='dashboard'">

	<div layout:fragment="content">

		<div class="container-fluid">
			<div class="mt-5 text-center">
				<p class="lead">No workspace selected</p>
				<a href="" class="btn btn-primary" data-toggle="modal" data-target="#selectWorkspaceModal">Select workspace ...</a>
			</div>
		</div>

		<form th:object="${workspaceSelect}" th:action="@{/dashboard/select-workspace}" action="#" method="post">
			<div class="modal fade" id="selectWorkspaceModal" tabindex="-1" role="dialog" aria-labelledby="selectWorkspaceModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="selectWorkspaceModalLabel">Select a directory as workspace</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group" th:classappend="${#fields.hasErrors('pathToDir')} ? has-error">
								<label for="workspace">Workspace</label>
								<input type="text" th:field="*{pathToDir}" class="form-control" id="workspace">
								<small class="help-block" th:if="${#fields.hasErrors('pathToDir')}" th:each="err : ${#fields.errors('pathToDir')}" th:text="${err}">validation error</small>
							</div>
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" value="Launch">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>

</body>
</html>